:root {
    --background-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: #fff;
    --text-color: #222;
    --form-text-color: #555;
    --footer-text-color: #888;
    --skill-item-bg: #fff;
    --project-section-bg: #f0f0f0;
    --accent-color: #0987f2;
}

[data-theme = 'dark'] {
    --background-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #2a2a2a;
    --text-color: #fff;
    --form-text-color: #fff;
    --footer-text-color: #bbb;
    --project-section-bg: #333;
    --accent-color: #fff;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

h1,h2,h3,p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,h3,p {
    font-family: 'Roboto Mono', monospace;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

h2,h3 {
    font-size: 18px;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

.sectionTitle {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.hover {
    cursor: pointer;
}

@media (min-width: 600px) {
    #root {
        gap: 80px;
    }
    h1 {
        font-size: 32px;
    }
    h2,h3 {
        font-size: 20px;
    }
    .sectionTitle {
        margin-bottom: 3rem;
    }
}

@media (min-width: 800px) {
    #root {
        gap: 100px;
    }

    h1 {
        font-size: 40px;
    }

    h2,h3 {
        font-size: 24px;
    }

    p {
        font-size: 1.1rem;
    }

    .sectionTitle {
        margin-bottom: 50px;
    }
}

@media (min-width: 1400px) {
    #root {
        gap: 120px;
    }

    h1 {
        font-size: 50px;
    }

    .sectionTitle {
        margin-bottom: 75px;
    }
}
